<script type="text/html" id="tpl">
    <div class="tpl_html">
      <article>
        <div class="tit">
          <h2 class="movieName" id="movieName">
            <data>movieName</data><data>repRlsDate</data>
          </h2>
          <span
            >Directed by<span class="director" id="director"
              ><data>director</data></span
            ></span
          >
        </div>
        <div class="main_txt">
          <div class="video_box">
            <div class="tag" id="tag"><data>no</data></div>
            <img src="<data>poster</data>" />
          </div>
          <div class="main_txt_wrap">
            <p><data>plot</data></p>
            <span class="keywords"><data>keywords</data></span>
          </div>
        </div>
        <div class="cmt">
          <span class="view">No comments</span>
          <span class="write"
            ><i class="xi-speech"></i>&nbsp;<span>Leave a Comment</span
            >&nbsp;</span
          >
        </div>
      </article>
      <div class="gradient"></div>
    </div>
  </script>