@charset "UTF-8";
/**공통 start*/
ul {
  list-style: none;
  padding-left: 0;
}

body {
  margin: 0;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

.scrollLock {
  overflow: hidden;
}

/** 공통 끝 */
main {
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  width: 33%;
  background-color: #f0f0f0;
  position: relative;
}
.left .inner {
  position: sticky;
  top: 0;
}
.left .inner .title {
  font-family: "Prompt", sans-serif;
  color: #e7473c;
  line-height: 80px;
  letter-spacing: 3px;
  font-size: 72px;
  padding: 10vh 0 0 72px;
  margin: 0;
  font-weight: 400;
}
.left .inner .title a {
  color: #e7473c;
}
.left .inner .intro {
  width: 54%;
  padding: 72px;
  font-size: 24px;
  color: #e7473c;
}
.left .inner .intro p:nth-child(2) {
  font-size: 17px;
}
.left .inner .intro .links a {
  font-size: 17px;
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
.left .inner .intro p:last-child {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.right {
  width: 67%;
  background-color: #e7473c;
  position: relative;
}
.right * {
  color: #fff;
}
.right .top_fixed {
  background-color: #e7473cf9;
  padding: 60px 144px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-bottom: 1.5px solid #cf4036;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  z-index: 1;
  top: 0;
}
.right .top_fixed .filter_btn,
.right .top_fixed .sort_btn, .right .top_fixed .order_btn {
  box-shadow: 0 1px 0 #76150f;
  color: #76150f;
  cursor: pointer;
}
.right .top_fixed .filter_btn:hover,
.right .top_fixed .sort_btn:hover, .right .top_fixed .order_btn:hover {
  box-shadow: 0 1px 0 #fff;
  color: #fff;
}
.right .filter_menu,
.right .sort_menu,
.right .order_menu {
  box-sizing: border-box;
  background-color: rgba(231, 71, 60, 0.95);
  display: none;
  z-index: 2;
  padding: 10vh 144px;
  width: 67%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: scroll;
}
.right .filter_menu .xi-close,
.right .sort_menu .xi-close,
.right .order_menu .xi-close {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 30px;
}
.right .filter_menu h4,
.right .sort_menu h4,
.right .order_menu h4 {
  color: #76150f;
  padding: 12px 0 6px;
}
.right .filter_menu ul li,
.right .sort_menu ul li,
.right .order_menu ul li {
  position: relative;
  padding: 5px 0;
  cursor: pointer;
}
.right .filter_menu ul li.category,
.right .sort_menu ul li.category,
.right .order_menu ul li.category {
  font-size: 70px;
  font-weight: 300;
}
.right .filter_menu ul li.category:hover,
.right .sort_menu ul li.category:hover,
.right .order_menu ul li.category:hover {
  color: #76150f;
}
.right .filter_menu ul li .category,
.right .sort_menu ul li .category,
.right .order_menu ul li .category {
  font-size: 70px;
  font-weight: 300;
}
.right .filter_menu ul li .category:hover,
.right .sort_menu ul li .category:hover,
.right .order_menu ul li .category:hover {
  color: #76150f;
}
.right .filter_menu ul li .cnt,
.right .sort_menu ul li .cnt,
.right .order_menu ul li .cnt {
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgba(191, 35, 24, 0.8);
  border-radius: 50%;
  padding: 7px 12px;
  margin-left: 5px;
  text-align: center;
}
.right .movie_info > h1 {
  padding: 80px 144px 0;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: #76150f;
}
.right .movie_info article {
  padding: 80px 144px 60px;
}
.right .movie_info article .tit {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
}
.right .movie_info article .tit > h2 {
  font-size: 55px;
  font-weight: 700;
  margin: 0;
  width: 70%;
}
.right .movie_info article .tit span {
  text-align: end;
}
.right .movie_info article .tit span .director {
  padding-left: 5px;
  text-align: end;
  font-weight: 600;
  word-break: keep-all;
}
.right .movie_info article .main_txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right .movie_info article .main_txt .video_box {
  position: relative;
  width: 50%;
}
.right .movie_info article .main_txt .video_box .tag {
  font-size: 22px;
  font-weight: 600;
  width: 66px;
  position: absolute;
  background-image: linear-gradient(to top right, #c82419, #e3291c 50%);
  box-shadow: inset 1px 0 0 #bf2318, inset 0 -1px 0 #ac1f15, inset 0 0 20px #bf2318;
  text-align: center;
  padding: 10px 0;
  left: -8px;
  top: 20px;
}
.right .movie_info article .main_txt .video_box img {
  width: 90%;
}
.right .movie_info article .main_txt .main_txt_wrap {
  width: 50%;
}
.right .movie_info article .main_txt .main_txt_wrap > p {
  font-size: 19px;
  font-weight: 600;
  margin-top: 0;
  line-height: 30px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 18;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: keep-all;
}
.right .movie_info article .main_txt .main_txt_wrap .keywords {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  color: #831d16;
  font-weight: 600;
  word-break: keep-all;
  line-height: 28px;
}
.right .movie_info article .main_txt .main_txt_wrap .keywords * {
  color: #831d16;
}
.right .movie_info article .cmt {
  font-weight: 600;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.right .movie_info article .cmt * {
  color: #831d16;
}
.right .movie_info article .cmt .write span {
  padding-bottom: 10px;
  border-bottom: 2px solid #831d16;
}
.right .movie_info .gradient {
  background: linear-gradient(to bottom, #e7473c, #a8362eae);
  height: 120px;
  width: 100%;
}